# Importing libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('data.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [4]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [5]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## Taking care of the missing data

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')

In [8]:
imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [9]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

## Transform the independent variables

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [11]:
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [0])], 
                       remainder = 'passthrough')

In [12]:
x = ct.fit_transform(x)
x

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

# Data sampling with Kfold Cross Validation

1. x_train
2. x_test
3. y_train
4. y_test

In [16]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold

In [17]:
kf = KFold(n_splits = 5, shuffle = True, random_state = 100)
sc = StandardScaler()

In [18]:
for train_index, test_index in kf.split(x):
    x_train, x_test = x[train_index], x[test_index]
    y_train, y_test = y[train_index], y[test_index]
    x_train[:, 3:] = sc.fit_transform(x_train[:, 3:])
    x_test[:, 3:] = sc.transform(x_test[:, 3:])
    print(x_train)
    print("----------------------------")
    print(x_test)
    print("")

[[1.0 0.0 0.0 0.9275794157968308 0.8486580713459083]
 [0.0 0.0 1.0 -1.545965692994718 -1.5052442517451496]
 [0.0 1.0 0.0 -1.1094577326197388 -0.916768670972385]
 [0.0 0.0 1.0 0.054563495046872405 -0.2302138267374932]
 [0.0 1.0 0.0 0.34556880196352524 0.0422285717684166]
 [1.0 0.0 0.0 -0.38194446532810683 -0.5244516171238754]
 [0.0 1.0 0.0 1.8005953365467893 1.9275299694293098]
 [1.0 0.0 0.0 -0.090939158411454 0.3582617540352713]]
----------------------------
[[0.0 0.0 1.0 0.1677322255144597 -1.11292719789664]
 [1.0 0.0 0.0 1.5095900296301366 1.5352129155808003]]

[[1.0 0.0 0.0 0.5441082159257143 0.532171171713203]
 [0.0 1.0 0.0 -1.7798794181976751 -1.200727920096623]
 [0.0 0.0 1.0 -0.45188648441288115 -0.5268227177261351]
 [0.0 1.0 0.0 -0.11988825096668267 -0.25940001837276655]
 [0.0 0.0 1.0 -0.32277606029491496 -1.3932722636310482]
 [1.0 0.0 0.0 1.2081046828181115 1.206076374083691]
 [0.0 1.0 0.0 1.5401029162643098 1.5911650611525412]
 [1.0 0.0 0.0 -0.6178856011359805 0.05081031287714027]]
----------------------------
[[0.0 0.0 1.0 -2.2778767683669727 -1.7783609506998983]
 [1.0 0.0 0.0 -0.949883834582179 -0.8156392330277727]]

[[1.0 0.0 0.0 0.6143508384484168 0.5980503604017328]
 [0.0 0.0 1.0 -1.827095350710226 -1.4524080181184937]
 [0.0 0.0 1.0 -0.24733605184286894 -0.3417430630867044]
 [1.0 0.0 0.0 -0.6781794969885118 -0.5980503604017328]
 [0.0 0.0 1.0 -0.13563589939770215 -1.1106649550317893]
 [1.0 0.0 0.0 1.188808765309274 1.1961007208034655]
 [0.0 1.0 0.0 1.4760377287397026 1.5378437838901697]
 [1.0 0.0 0.0 -0.39095053355808324 0.1708715315433522]]
----------------------------
[[0.0 1.0 0.0 -1.3962519055645832 -0.9397934234884371]
 [0.0 1.0 0.0 0.039892911587559636 -0.10442149149871496]]

[[0.0 0.0 1.0 -1.507714609141393 -1.2733759679472296]
 [0.0 1.0 0.0 -1.1046621888758723 -0.7673056660583581]
 [0.0 1.0 0.0 0.2388458786758644 0.057401492575358655]
 [1.0 0.0 0.0 -0.4329081551000039 -0.4299254647991105]
 [0.0 0.0 1.0 0.0746393370862078 -0.935995766687982]
 [1.0 0.0 0.0 1.3136523327172536 1.3413205918119397]
 [0.0 1.0 0.0 1.582353946227601 1.6787007930711875]
 [1.0 0.0 0.0 -0.16420654158965658 0.3291799880341968]]
----------------------------
[[1.0 0.0 0.0 0.776249105696559 0.7509052396082564]
 [0.0 0.0 1.0 -0.02985573483448293 -0.1768903138546747]]

[[1.0 0.0 0.0 0.99195310407169 1.1308980938355184]
 [0.0 0.0 1.0 -1.6417792156327535 -1.3303007804060123]
 [0.0 1.0 0.0 -1.1770029239202047 -0.7150010618456295]
 [0.0 0.0 1.0 0.06240052064659233 0.0028486098081502514]
 [0.0 1.0 0.0 0.3722513817882916 0.28770959062314255]
 [1.0 0.0 0.0 -0.4023757710659565 -0.30480124947204107]
 [0.0 0.0 1.0 0.18289807775725328 -0.9201009680324238]
 [1.0 0.0 0.0 1.6116548263550885 1.8487477654892983]]
----------------------------
[[0.0 1.0 0.0 1.9215056874967877 2.258947577862887]
 [1.0 0.0 0.0 -0.09252490992425728 0.618148328368533]]